.searchform input[type="text"]{
	height: 40px;
}
.whb-color-light .wd-header-cart.wd-design-3 .wd-tools-icon:before{
	font-size: 35px;
}

.whb-top-bar .wd-tools-element .wd-tools-icon:before{
	font-size: 30px;
}
.wd-header-my-account .wd-tools-icon:before{
    font-size: 30px;
}

.wd-header-my-account .wd-tools-text{
	text-transform: capitalize;
    font-size: 13px;
    font-weight: 100;
}

.whb-top-bar .wd-header-text{
		font-size: 16px;     
	font-weight: 700;   
	color: white;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
	 margin-left: 6px;
  margin-bottom: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.wd-header-my-account .wd-tools-text::after{
	content: "\a""Account & Lists";
    white-space: pre;
    font-size: 17px;
    font-weight: 700;
}
.whb-top-bar .wd-tools-element .wd-tools-text{
text-transform: capitalize;
}

@media (min-width: 1025px){
.whb-full-width .whb-row>.container, .whb-full-width+.whb-clone .whb-row>.container {
    max-width: 100%;
    width: 100%;
}
}

.wd-header-cart .wd-tools-icon:before {
	font-size: 35px;align-content
}
.wd-header-mobile-nav .wd-tools-icon:before {
    font-size: 35px;
    border: 1px solid;
    padding: 0px 9px;
    border-radius: 6px;
}

.wd-logo img{
max-height: none;
}
.searchform.wd-style-with-bg .searchsubmit{
    width: 67px;
    border-radius: 8px;
}
.searchform.wd-style-with-bg input[type="text"]{
	border-radius: 8px;
}

.wd-search-cat>a{
	border-radius: 7px;
}

.wd-search-cat{
	margin-right: 11px;
}

.searchform.wd-style-with-bg input[type="text"]:focus{
border: 3px solid blue;
    border-radius: 11px;	
}

.wp-block-themepunch-revslider::before{
	background: linear-gradient(-180deg,rgba(234,237,237,0),#eaeded);
    bottom: 0;
    content: "";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00EAEDED', endColorstr='#EAEDED', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00EAEDED', endColorstr='#EAEDED',GradientType=0)";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 20;
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated{
/*     box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 15%);	 */
}

.whb-color-light .wd-header-text{
    padding: 0;
    margin: 0;	
	right: -6px;
    position: relative;
}



@media screen and (min-width: 1024px){
  ::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b; 
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
}
}

.logged-in #for-non-loggedin-user{
	display:none;
}
#for-loggedin-user{
	display:none;
}
.logged-in #for-loggedin-user{
display:block;	
}

.whb-col-right .wd-dropdown-register{
	border-radius: 0px 0px 13px 13px;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 50%);
}


.wd-close-side-opened{
	z-index: 100;
}

.elementor embed, .elementor iframe, .elementor object, .elementor video, .elementor-widget-video .elementor-widget-container{
	border-radius: 12px;
/* 	box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 15%);	 */
}



.wd-header-nav {
    width: 100%;
    overflow: hidden;
    max-height: 40px;
}


.elementor-element-ed98c33{
	        height: 258px;
    margin-bottom: 10px;
}
